# HTTP Server
server:
  contextPath: /app # HTTP default context path
  port: 9666   # Tomcat port

# Spring properties
spring:
  application:
     name: docs # Service name
  datasource:
    url: jdbc:postgre:thin:@localhost:5432/docs
#    username: docs
#    password: docs
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update